<% if @Book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@Book.errors.count, "error") %> prohibited this obj from being saved:</h2>
    <ul>
    <% @Book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>